*.ipynb_checkpoints/
*__pycache__/
*.DS_Store

*.pkl
*.log
*.csv
*.out

*.pdf
!MRes_Project_Report.pdf

*.png
!ai4er_logo.png
!cambridge_logo.png

*.txt
!requirements.txt

*.json

# !config.json
# !model_projection.json
# !per_species_aoh_diffs.json
!/scripts/experiments/*